<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>SPOEDGRENS</title>
</head>
<body style="background-color: black; display: flex; align-items: center; justify-content: center">
    <canvas id="container" style="width: 1024px; height: 768px;"></canvas>
</body>
</html>